name: CI

on: [push, pull_request]

env:
  RUSTFLAGS: -Csymbol-mangling-version=v0

jobs:
  test:
    name: Tests (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - if: ${{ runner.os == 'Windows' }}
        run: |
          npm i typescript
          echo "$pwd\node_modules\typescript\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - run: cargo test --no-fail-fast

  clippy:
    name: Clippy lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - run: cargo clippy -- --deny warnings

  format:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - run: cargo fmt --check
